* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #EEE;
}

header nav {
    background-color: #FFF;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

header nav a {
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    font-weight: bold
}

header nav h1 {
    float: left;
    margin: .6em;
}

header nav > input {
    display: none;
}

header nav .menu-icon {
    float: right;
    height: 2em;
    width: 2em;
    margin: .6em .6em 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header nav .menu-icon span {
    height: 4px;
    width: 90%;
    background-color: #000;
    border-radius: 3px;
    transition: .5s cubic-bezier(.14,.72,.29,.99)
}

header nav .menu-icon span:first-of-type {
    transform: translateY(-.4em)
}

header nav .menu-icon span:last-of-type {
    transform: translateY(.4em)
}

header > nav input:checked ~ .menu-icon span:nth-of-type(2) {
    transform: translateX(-1em);
    opacity: 0;
}

header > nav input:checked ~ .menu-icon span:first-of-type {
    transform: translateY(.25em) rotate(-45deg);
}

header > nav input:checked ~ .menu-icon span:last-of-type {
    transform: translateY(-.25em) rotate(45deg);
}



header nav .menu {
    clear: both;
    list-style-type: none;
    max-height: 0;
    transition: .5s cubic-bezier(.14,.72,.29,.99)
}

header nav > input:checked ~ .menu {
    max-height: 200px
}

header nav .menu a {
    display: block;
    padding: .5rem 1rem;
    border-bottom: 1px solid #000;
}

header nav .menu li:last-of-type a {
    border: none;
}

header nav .menu a:hover {
    background-color: #EEE;
}

@media (min-width:800px) {
    nav .menu-icon span {
        display: none;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav .menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    nav .menu li a {
        padding: 1em;
        border:none;
        border-right: 1px solid #000;
    }
    nav .menu li:last-of-type a {
        border: none;
    }
}


section {
    height: 100vh;
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}